body {
    background-color: #ffffff !important;
}

.title{
    margin-bottom: 0px;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 50px 0px;
}

.top-text{
    font-size: 31px !important;
    margin-bottom: 0px;
}

.step-container {
    display: flex;
    flex-direction: row;
}

.steps {
    color: #333333;
    background-color: #d9d9d9;
    padding: 5px 13px;
    border-radius: 20px;
    margin: 0px 5px;
}

.done {
    color: #ffffff;
    background-color: #333333;
}

.form-card {
    background-color: #ffffff;
    padding: 20px 50px;
    border-radius: 5px;
    max-width: 900px;
    margin: auto;
}

.card-title {
    font-weight: bold;
}

.form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-fields {
    gap: 2px;
}

.full {
    width: 100%;
}

.form-btn-container {
    display: flex;
    border-top: none;
    padding: 35px 0px 50px;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.form-btn-container button {
    display: block;
    border-radius: 20px;
    margin-right: 0;
    padding: 10px 20px;
}

.form-control {
    width: 100% !important;
    color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control:focus {
    border: 1px solid #ff0000;
}

.disabled-date-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.disabled-date-fields {
    text-align: center;
}

